<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate Similarity</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <script type=text/javascript src="{{
        url_for('static', filename='library/json-viewer.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/json-viewer.css')}}">
</head>
<body>
    <div class="pure-g">
        <div class="pure-u-1">
            <h1>Indexing</h1>
            <form class = "pure-form" action = "http://localhost:5000/Indexing" method = "post">
                <p>Please Enter Url</p>
                <p><input type = "text" name = "url" /></p>
                <p>Please Enter Url Set</p>
                <textarea name="urls" cols="40" rows="10"></textarea>
                <p>Max Sublinks</p>
                <p><input type = "text" name = "maxSubLink" value="10" /></p>
                <p><input type = "submit" class="pure-button pure-button-primary" value = "submit" /></p>
            </form>
    
        {% if result != None %}
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Keyword</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
            {% for key, value in result.items() %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ value }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if tree != None %}
        <h1>Tree View</h1>
        <div id="json"></div>
        <div id="order">
            <p id = "list">test</p>
        </div>
        <script>
            var data = {{ tree | tojson }}; 
            data = JSON.parse(data);
            var jsonViewer = new JSONViewer();
            document.querySelector("#json").appendChild(jsonViewer.getContainer());
            jsonViewer.showJSON(data);            
        </script>
        {% endif %}

        {% if order != None %}
        <h1>Similarity Table</h1>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Site</th>
                    <th>Similarity Score(General)</th>
                </tr>
            </thead>
            <tbody>
            {% for key, value in order.items() %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ value }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}


        </div>
    </div>
</body>
</html>