<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Indexing</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
</head>
<body>
    <div class="pure-g">
        <div class="pure-u-1">
        <h1>Web Indexing</h1>
        </br>
            <form method="get" action="/CalculateFrequency">
                <button class="pure-button pure-button-primary" type="submit">Calculate Frequency</button>
            </form>
        </br>
            <form method="get" action="/FindKeywords">
                <button class="pure-button pure-button-primary" type="submit">Find Keywords</button>
            </form>
        </br>
            <form method="get" action="/CalculateSimilarity">
                <button class="pure-button pure-button-primary" type="submit">Calculate Similarity</button>
            </form>
        </br>
            <form method="get" action="/Indexing">
                <button class="pure-button pure-button-primary" type="submit">Indexing</button>
            </form>
        </br>
            <form method="get" action="/Semantics">
                <button class="pure-button pure-button-primary" type="submit">Semantic Indexing</button>
            </form>
        </br>
        </div>
        
    </div>
</body>
</html>